.previous {
  background-color: black;
  color: white;
}

.next {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}


a:hover {
  background-color: white;
  color: black;
}
